:root {
  --primaryColor: #0FB309;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background-color: rgb(25, 52, 16);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:var(--mainGrey);
  height: 100vh ;
}